

.banner-text {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Navbar */


.lb-caption {
  position: absolute;
  left: -250px; /* Adjust based on your layout and description length */
  width: 200px; /* Adjust as necessary */
  text-align: left;
}

.content-container {
  padding-left: -1em;
  padding-right: 0em;
}

.top-story {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 1em; 
  box-sizing: border-box;
  height: auto;
  display: flex;
  align-items: center;
}

.top-story img {
  height: 100%;
  object-fit: cover;
}


.top-story-text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.top-story-text h2 {
  margin-top: 1.5rem;
}

.top-story-img p {
  margin-bottom: 0;
}

.header-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-banner .header-image {
  position: absolute;
  display: none;
  height: auto;
}

.header-text p {
  text-align: center;
  margin-bottom: 0;
}

.header-block {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1.8em; 
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.caltech-background {
  background-color: #ff6d0c6a;
}

/* Footer */
.footer-banner {
  display: flex;
  flex-direction: column;      
  align-items: center;   
  justify-content: space-evenly;
  background-color: #222;
  color: white;
  padding-bottom: 14px;
}

.footer-banner img{
  margin: 0.25rem auto; 
  width: 200px;
}

.footer-banner p{
  margin: 0.25rem auto;  
}

/* Hero Section, applies to all heroes */

.hero-gradient > * { /* ensures hero content is above gradient */
  position: relative;
  z-index: 3;
}

.hero-gradient::before{
  content: "";
  background: 
  linear-gradient( /* gradient starting from bottom */
    to top, 
    rgba(0, 0, 0, 0.95) 0%,   /* darkest at the very bottom */
    rgba(0, 0, 0, 0.4) 40%,  /* soft blend upward */
    rgba(0, 0, 0, 0) 60%     /* fully transparent above */
  );
  z-index: 2;
  position: absolute;
  inset: 0; /* fills entire space of the hero */
}

.hero h1{
  font-size: 3.2rem;
}

.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;
  text-align: left;
  padding: 1rem;
}

/* Big Hero */
.hero-home{
  background: url('../img/CI_cover.jpeg') center center / cover no-repeat;
  height: 85vh; 
}

/* Small Hero */
.hero-team{
  background: url('../img/CI_team.png') center center / cover no-repeat;
  height: 45vh; 

}

.hero-about{
  background: url('../img/CI_team.png') center center / cover no-repeat;
  height: 45vh; 
}

.hero-science{
  background: url('../img/CI_science.png') center center / cover no-repeat;
  height: 45vh; 
  width: 100%;
}

.hero-publications{
  background: url('../img/CI_publications.png') center center / cover no-repeat;
  height: 45vh; 
  width: 100%;
}

.hero-ch4{
  background: url('../img/CI_ch4.png') center center / cover no-repeat;
  height: 45vh; 
  width: 100%;
}

.hero-clouds{
  background: url('../img/CI_clouds.png') center center / cover no-repeat;
  height: 45vh; 
  width: 100%;
}

/* Homepage */
.mission{ 
  opacity: 0;
  transform: translateY(120px);
}

.mission .g-col-6{ 
  display: flex; 
  flex-direction: column;
}

.mission.show {
  opacity: 1;
  transform: translateY(0);
}

.mission.animate{
  transition: all 1.2s ease-out;
}

.mission-image-frame{
  width: 100%;           
  max-width: 450px;    
  border-radius: 50%; /* circular frame */
  aspect-ratio: 1 / 1; /* retain Aspect Ratio */

}

/* Science Page */

.science .g-col-6{ 
  display: flex; 
  flex-direction: column;
}

.science{ 
  opacity: 0;
  transform: translateX(-120px);
}

.science:nth-of-type(2n) {
  transform: translateX(120px); 
}

.science.show {
  opacity: 1;
  transform: translateX(0);
}

.science.animate{
  transition: all 1.2s ease-out;
}

.science-image-frame{
  width: 100%; 
  max-width: 30rem;   
  padding: 2rem;
  background-color: #F9FAEF;       
}

/* About Page */

.team-header h2{
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: none;
  margin-bottom: 4rem;
}

.team-header a{
  text-decoration: none;
}

.team-header h2 strong:first-child {
  color: #1A3482; /* TEAM */
}

.team-header h2 strong:last-child {
  color: #7BADE2; /* Name */
}

#title-block-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C8C7C7;
  padding-bottom: 6rem;
}

.about h1 {
  padding-bottom: 2rem;      /* top & bottom gap = 1.5 rem */
}

.plots{
  padding-top: 4.6rem;
}












