/*-- scss:functions --*/
@function colorToRGB ($color) {
    @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
  }
  
/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2c3e50 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$caltech: #FF6C0C !default;
$yellow:  #f39c12 !default;
$green:   #18bc9c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

/*-- scss:custom --*/
$spacer: 1.2rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
);

$utilities: (
  "width": (
    property: width,
    class: w,
    responsive: true,
    values: (
      25: 25%,
      45: 45%, 
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  )
);

$font-family-base: Helvetica !default;
$primary:       $black !default;

