body::before {
    content: '';
    position: fixed; /* Fixed position to cover the whole page */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    background: url('../img/CarbonI_overview.jpeg') center center / cover no-repeat; /* Adjust path */
    opacity: 0.2; /* Adjust transparency as needed */
    z-index: -1; /* Ensures the image stays in the background */
  }
  
  body {
    position: relative; /* Ensures the page content appears above the background */
    opacity: 0.9;
    /* Your existing body styles */
  }