/*-- scss:functions --*/

/*-- scss:defaults --*/
body{
  @media (max-width: 992px) {
    .navbar {

      .navbar-toggler {
        left: .75rem;
      }

      #quarto-search{
        justify-self: end;
      }

      .navbar-brand-container {
        max-width: calc(100% - 5.5rem);  
        min-width: 0;                      

        .navbar-logo {
          padding-left: 0;                 
          max-height: 50px;              
        }
      }
      &.compact {
        .navbar-logo {
          padding: 0rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mission{ 
      flex-direction: column; 
      text-align: center;
    }
    .mission-image-frame{
      width: 80%;  
    }
  }

  @media (max-width: 576px) {
    .hero-content{
      top: 30%;
      text-align: center;
    }
  }

}