body::before {
    content: '';
    position: fixed; /* Fixed position to cover the whole page */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    background: url('../img/CI_cover.jpeg') center center / cover no-repeat; /* Adjust path */
    opacity: 0.01; /* Adjust transparency as needed */
    z-index: -1; /* Ensures the image stays in the background */
  }

/* Make the main content container 80% wide */
.main-container {
  max-width: 80% !important; /* or width: 80%; */
  margin: 0 auto;            /* centers the content */
}
  
